<!-- Форма сброса пароля -->
{% extends "users/users_main.html" %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Сброс пароля" %}{% endblock %}

{% block content %}

    <h1>{% trans "Сброс пароля" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Забыли пароль? Введите свой e-mail адрес ниже, и мы вышлем вам письмо для сброса пароля." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% trans 'Сбросить пароль' %}" />
    </form>

    <p>{% blocktrans %}Свяжитесь с нами, если у вас возникли сложности со сменой пароля.{% endblocktrans %}</p>
{% endblock %}