<!-- Страница сообщает об успешном сбросе пароля -->
{% extends "users/users_main.html" %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Сбросить пароль" %}{% endblock %}

{% block content %}
    <h1>{% trans "Сброс пароля" %}</h1>

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>
      {% blocktrans %}
        Мы отправили вам электронное письмо.
        Если вы не получили его, пожалуйста, проверьте папку со спамом.
        В противном случае свяжитесь с нами, если вы не получите его в течение
        нескольких минут.
      {% endblocktrans %}
    </p>
{% endblock %}
